.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.custom-card-img {
  height: 200px;
  object-fit: contain;
  width: 100%;
}

.custom-card-link {
  color: inherit;
  text-decoration: none;
}

.custom-card-link:hover {
  text-decoration: none;
}

.home-page-card {
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  border: none;
  padding-top: 1vh;
}

.home-page-card:hover {
  transform: scale(1.05);
  border: 1px solid var(--dark-colour);
}

.hero-section {
  background-image: url('../../assets/hero-attempt.png');
  background-size: cover;
  background-position: bottom;
  height: 44vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
    color: #202530;
    margin-top: -30vh;
    font-weight: 800;
    font-style: italic;
}
