.create-workout-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: 600;
}

.btn-primary {
  background-color: #0a6ad8;
  border: none;
}
