.nav {
    background: #166088;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    z-index: 10;
  }
  
  .navbar-logo {
    height: 40px; /* Adjust based on your navbar height */
    width: auto;
  }
  
  .bars {
    display: none;
    color: #DBE9EE;
  }
  
  .nav-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-menu {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    color: #DBE9EE;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link.active {
    border-bottom: 2px solid #fff;
  }
  
  .nav-btn {
    display: flex;
    align-items: center;
  }
  
  .nav-btn-link {
    border-radius: 4px;
    background: #4A6FA5;
    padding: 10px 22px;
    color: #DBE9EE;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
  .nav-btn-link:hover {
    background: #4F6D7A;
    color: #DBE9EE;
  }
  
  @media screen and (max-width: 768px) {
    .bars {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 75%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-menu, .nav-btn {
      display: none;
    }
  
    .nav-menu.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background: #166088;
      width: 100%;
      align-items: center;
    }
  }
  